body{

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

font-family:Arial;

color:white;

text-align:center;

}

.home{

margin-top:150px;

}

.btn{

display:inline-block;

padding:12px 30px;

background:#00c6ff;

color:white;

margin:10px;

text-decoration:none;

border-radius:5px;

}

.login-box{

width:300px;

margin:auto;

margin-top:120px;

background:white;

padding:30px;

border-radius:10px;

color:black;

}

.input-box{

width:100%;

padding:10px;

margin:10px 0;

}

.login-btn{

width:100%;

padding:10px;

background:#2196F3;

color:white;

border:none;

}

/*index,jsp*/

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;
overflow:hidden;

}

/* sky background */

.sky{

height:100vh;

background:linear-gradient(#4facfe,#00f2fe);

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

/* clouds */

.cloud{

position:absolute;

background:white;

border-radius:50px;

width:120px;

height:60px;

}

.cloud:before{

content:"";

position:absolute;

background:white;

width:70px;

height:70px;

top:-30px;

left:20px;

border-radius:50%;

}

.cloud1{

top:80px;

animation:moveCloud 25s linear infinite;

}

.cloud2{

top:200px;

animation:moveCloud 35s linear infinite;

}

.cloud3{

top:350px;

animation:moveCloud 45s linear infinite;

}

@keyframes moveCloud{

0%{left:-200px;}

100%{left:120%;}

}

/* game card */

.gameCard{

text-align:center;

background:rgba(255,255,255,0.2);

padding:50px;

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0 0 20px rgba(0,0,0,0.4);

}

.gameCard h1{

font-size:40px;

margin-bottom:10px;

}

.gameCard p{

margin-bottom:30px;

font-size:18px;

}

/* buttons */

.buttons{

display:flex;

gap:20px;

justify-content:center;

}

.btn{

padding:12px 30px;

background:#00c6ff;

color:white;

text-decoration:none;

border-radius:8px;

transition:0.3s;

font-size:18px;

}

.btn:hover{

background:#ff5722;

transform:scale(1.1);

}

.play{

background:#4caf50;

}

.creator{
margin-top:20px;
font-size:14px;
opacity:0.8;
}


.backHome{

margin-top:15px;

text-align:center;

}

.backHome a{

text-decoration:none;

color:#3498db;

font-size:14px;

font-weight:500;

}

.backHome a:hover{

text-decoration:underline;

}